.container{
    position: absolute;
    left: 15%;
    width: 70%;
     font-family: "Story Script", sans-serif;
}
.link-voltar{
    text-decoration: none;
    font-size: 30px;
    color: blueviolet;
}   
.link-voltar:hover{
    text-decoration: underline;
    cursor:pointer;
}
.logo img{
    width: 200px;
    margin-left: 30px;
}
.logo{
    width: 0;
}
.link-admin{
    text-decoration: none;
    position: absolute;
    right:0;
    color: white;
    padding-right: 10px;
}
.link-admin:hover{
     font-weight: bold;
    text-decoration: underline;
    color: #695725;
}
